[Unit]
Description=Download and install AACS KEYDB.cfg

[Service]
Type=simple
ExecStart=/opt/aacs_updater/aacs_updater.sh

[Install]
Alias=aacs.service
