[Unit]
Description=Update AACS KEYDB.cfg

[Timer]
OnCalendar=weekly
OnCalendar=Fri 20:00
Persistent=true
Unit=aacs-update.service

[Install]
WantedBy=timers.target
